# Dependencies
node_modules/
yarn.lock

# Database
*.sqlite
*.db
backend/database.sqlite
frontend/*.sqlite

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
*.build

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
backend.log

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.temp
.cache/
